:root {
  --primary: #e9b08e;
  --secondary: #dbcdb5;
  --pink: #f7707a;
}

@media (min-width: 768px) {
  body {
    background: #1d1135;
    background: linear-gradient(to left, var(--primary), var(--pink));
  }
}
@media (max-width: 768px) {
  body {
    background: var(--pink) !important;
  }
}

.content-area {
  background: white;
}

small {
   font-size:10px;
}

/* IMG */

figcaption {
  color:white;
  background: var(--secondary);
  text-align: center;
}

.container a {
  text-shadow: none;
  color: white;
  background-image: none;
}

a img:hover {
  transition: all 0.2s ease-in;
}

/* LISTS */

.list-title.title-primary   {
  background: var(--primary);
  color: white;
  text-align:center;
}

.list-pages {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.list-pages .list-item {
  margin: 10px;
}

.list-item .title {
  text-transform: uppercase;
  font-weight: bold;
	font-size: 12px;
  position: absolute; 
  bottom: 0; 
  background: var(--pink);
  color: #f1f1f1; 
	opacity: 0;
  width: 100%;
  transition: .5s ease;
  color: white;
  padding: 5px;
  text-align: center;

}
.list-item .container {
  position: relative;
  width: 50%;
}

.list-item .container:hover .title {
  opacity: 1;
}
