:root {
  --primary: #e9b08e;
  --secondary: #dbcdb5;
  --pink: #f7707a;
}

@media (min-width: 768px) {
  body {
    background: #1d1135;
    background: linear-gradient(to left, var(--primary), var(--pink));
  }
}
@media (max-width: 768px) {
  body {
    background: var(--pink) !important;
  }
}

.content-area {
  background: white;
}

small {
   font-size:10px;
}

figcaption {
  color:white;
  background: var(--secondary);
  text-align: center;
}

.list-item img {
}


.list-title.title-primary   {
  background: var(--primary);
  color: white;
  text-align:center;
}

.list-pages .list-item .title {
  text-transform: uppercase;
  font-weight: bold;
}

.list-pages {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.list-pages .list-item {
  margin: 10px;
}
