@import "variables";
@import "mixin";
@import "recette";


body {
	background: $color-pink;
	@include xs {
		background: $color-pink;
	}

	@include md {
		background: linear-gradient(to left, $color-primary, $color-pink);
	}
}

.content-area {
  background: white;
}

small {
   font-size:10px;
}

/* IMG */

figcaption {
  color:white;
  background: $color-secondary;
  text-align: center;
}

.container a {
  text-shadow: none;
  color: white;
  background-image: none;
}

a img:hover {
  transition: all 0.2s ease-in;
}

/* LISTS */

.list-title.title-primary   {
  background: $color-primary;
  color: white;
  text-align:center;
}

.list-pages {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
}

.list-pages .list-item {
  margin: 10px;
}

.list-item .title {
  text-transform: uppercase;
  font-weight: bold;
	font-size: 12px;
  position: absolute; 
  bottom: 0; 
  background: $color-pink;
  color: #f1f1f1; 
	opacity: 0;
  width: 100%;
  transition: .5s ease;
  color: white;
  padding: 5px;
  text-align: center;

  @include md-down {
    text-shadow: none;
    opacity: 1;
  }
}
.list-item .container {
  position: relative;
  width: 50%;
}

.list-item .container:hover .title {
  opacity: 1;
}

ul.list-pages {
	@include md-down {
		margin-left: 0;
		justify-content:center;
	}
}
