// very Small devices
@mixin xs {
   @media (min-width: #{$screen-xs-min}) {
       @content;
   }
}

// Small devices
@mixin sm {
   @media (min-width: #{$screen-sm-min}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$screen-md-min}) {
       @content;
   }
}

@mixin md-down {
   @media (max-width: #{$screen-md-min}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$screen-lg-min}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$screen-xl-min}) {
       @content;
   }
}

// ANIMATIONS

@keyframes rotateTop {
  0% {
    transform-origin: top;
    transform: rotate(8deg);
  }
  50% {
    transform-origin: top;
    transform: rotate(-5deg);
   }
  75% {
    transform-origin: top;
    transform: rotate(3deg);
   }
  100% {
    transform-origin: top;
    transform: rotate(0deg);
  }
}
