$color-primary: #e9b08e;
$color-secondary: #dbcdb5;
$color-pink: #f7707a;

// very 	Small tablets and large smartphones (landscape view)
$screen-xs-min: 300px;

// Small tablets and large smartphones (landscape view)
$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 768px;

// Tablets and small desktops
$screen-lg-min: 992px;

// Large Tablets and small desktops
$screen-lg-min: 1200px;
